<htext>
    <img class="inline-img" src="/imgs/logo.svg" style="margin-right: 0.5rem; height: 1.4em; transform:translate(0, -0.1em);">GRA
</htext>

<div id="nav" class="nav">
    <a href="index.html">Home</a>
    <a href="play.html">Play</a>
    <a href="downloads.html">Downloads</a>
    <a href="rules.html">Rules</a>
    <a href="interactive_generator.html">Interactive-Generator</a>
    <a href="boardgame.html">Boardgame</a>
    <a href="https://gitlab.com/Eddous/ebiten-game">Source-Code<img class="inline-img" src="/imgs/external_link.svg" style="margin-left: 0.2em;"></a>
    <a href="thanks.html">Thanks</a>
    <a href="about_me.html">About-Me</a>
    <a href="contact.html">Contact</a>
    <a href="donate.html">Donate</a>
</div>

<style>
    .nav {
        margin-top: 1rem;
        line-height: 1.4rem;
    }

    .nav a {
        margin-right: 1rem;
        font-size: 1.1rem;
    }

    htext {
        font-family: font2;
        font-size: 2.5rem;
    }
</style>