<htext>
    <img class="inline-img" src="/imgs/logo.svg" style="margin-right: 0.5rem; height: 1.4em; transform:translate(0, -0.1em);">GRA
</htext>

<div id="nav" class="nav">
    <a href="index.html">home</a>
    <a href="play.html">play</a>
    <a href="downloads.html">downloads</a>
    <a href="rules_classic.html">rules-classic</a>
    <a href="rules_cities.html">rules-cities</a>
    <a href="interactive_generator.html">interactive-generator</a>
    <a href="boardgame.html">boardgame</a>
    <a href="https://gitlab.com/Eddous/ebiten-game">source-code<img class="inline-img" src="/imgs/external_link.svg" style="margin-left: 0.2em;"></a>
    <a href="thanks.html">thanks</a>
    <a href="about_me.html">about-me</a>
    <a href="contact.html">contact</a>
    <a href="donate.html">donate</a>
</div>

<style>
    .nav {
        margin-top: 1rem;
        line-height: 1.4rem;
    }

    .nav a {
        margin-right: 1rem;
        font-size: 1.1rem;
    }

    htext {
        font-family: font2;
        font-size: 2.5rem;
    }
</style>