body {
    width: 40rem;
    height: auto;
    padding: 1rem;
    margin: auto;
    text-align: left;
    box-sizing: border-box;
}

/* =============== */
/* == ARGUMENTS == */

#arguments {
    border: 2px solid black;
    font-size: 0.6em;
    aspect-ratio: 3 / 1;
    display: flex;
}

button {
    font-size: 0.8rem;
    margin: 0.5em;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;

    height: 2.5em;
    border: 1px solid #000;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #000;
}

button:hover {
    border-color: #000000;
    background: #f1f1f1;
}

narrowline {
    height: 100%;
    width: 1px;
    background-color: black;
}

line {
    box-sizing: border-box;
    height: 100%;
    width: 0em;
    border: 1px dashed black;
}

thickline {
    height: 100%;
    width: 2px;
    background-color: black;
}

tlh {
    height: 2px;
    width: 100%;
    background-color: black;
}


/* ================ */
/* == LEFT PANEL == */

.argument-buttons {
    box-sizing: border-box;
    width: 5em;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.argument-buttons button {
    width: 2em;
    height: 2em;
    margin: 0.3em;
    font-size: 0.7rem;
}

/* ================== */
/* == MIDDLE PANEL == */

.argument {
    box-sizing: border-box;
    width: 5em;
    height: 100%;
    text-align: center;
}

input[type=range] {
    height: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    width: 1em;
    cursor: pointer;

    /*because of chrome*/
    -webkit-appearance: slider-vertical;
}

/* ================= */
/* == RIGHT PANEL == */

#right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#statistics-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right-buttons {
    justify-content: center;
}

#right-buttons button {
    width: 7em;
    margin: 0.6em;
}

select{
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 5px;

    height: 2.5em;
    border: 1px solid #000;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #fff;
    color: #000;
    width: 7em;
    text-align: center;
}

/* ========== */
/* == REST == */

#map {
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    position: relative;
    /* because of mouse events */
    margin-top: 20px;
}

#histogram {
    border: 2px solid black;
    aspect-ratio: 2 / 1;
    margin-top: 20px;
}