@font-face {
    font-family: font1;
    src: url(fonts/dejavu_sans_mono_1.ttf);
}

@font-face {
    font-family: font2;
    src: url(fonts/dejavu_sans_mono_2.ttf);
}

html {
    width: 100vw;
    height: 100vh;
    /*font-family: 'Courier New', monospace;
    /*font-family: 'DejaVu Sans Mono', sans-serif;*/
    font-family: font1;
}

.inline-img {
    height: 1em;
    width: auto;
    transform: translate(0, 0.1em);
    /*without this the logo pushes down the whole page, making the default for other imgs because why not*/
    vertical-align: top;
}

/* main webpage */

body {
    width: 40rem;
    max-width: 100%;
    height: auto;
    padding: 1rem;
    margin: auto;
    text-align: left;    
    box-sizing: border-box; /*important because when the web is smaller than 40 rem, there will be no scrollbar*/
}

h1 {
    font-family: font2;
    font-size: 2rem;
    margin: 3rem 0 1rem 0;
}

h2 {
    font-family: font2;
    font-size: 1.5rem;
    margin: 2rem 0 .8rem 0
}

h3 {
    font-family: font2;
    font-size: 1rem;
    margin: 1.8rem 0 .7rem 0
}

p {
    font-size: 1rem;
}

ol {
    font-size: 0.9em;
}

ul {
    font-size: 0.9em;
}


a {
    /*important because of the animation*/
    position: relative;
    text-decoration: none;
    color: #0077B5;
    white-space: nowrap;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #0077B5;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: center;
    transform: scaleX(1);
}

/* tutorial */

.fig .imgs {
    display: grid;
    width: 70%;
    /* Two columns */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8em;
    margin: auto;
}

.fig .imgs img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: solid #000;
    border-width: 0.15em;
}

.fig p {
    text-align: justify;
    margin: auto;
    width: 70%;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 0.8rem;
}

table {
    width: 40%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
}
th, td {
    border: 1px solid black;
    padding: 0.3em;
}
th {
    background-color: #f2f2f2;
}

/* Color pallete */

/*
#075674 dark blue
#ef9c00 dark yellow
#0996ce light blue
#98a61b green
#fdc006 light yellow
*/